<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--
		<add name="ChinesseCheckersDBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-78F1S0H\SQLEXPRESS;initial catalog=ChinesseCheckersDB;user id=ZhirconDBM;password=A1G2n3i4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		-->
		 
	<add name="ChinesseCheckersDBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RH3JU6T;initial catalog=ChinesseCheckersDB;user id=ZhirconDBM;password=A1G2n3i4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
   <service behaviorConfiguration="mexBehavior" name="ChinesseCheckersServer.GameService">
	   <endpoint address="ChinesseCheckersServer" binding="netTcpBinding" contract="ChinesseCheckersServer.IPlayerMgt" />
	   <endpoint address="ChinesseCheckersServer" binding="netTcpBinding" contract="ChinesseCheckersServer.IConnectionTestMgt" />
	   <endpoint address="ChinesseCheckersServer" binding="netTcpBinding" contract="ChinesseCheckersServer.IChatMgt" />
	   <endpoint address="ChinesseCheckersServer" binding="netTcpBinding" contract="ChinesseCheckersServer.IRoomMgt" />
	   <endpoint address="ChinesseCheckersServer" binding="netTcpBinding" contract="ChinesseCheckersServer.IEmailMgt" />
	   <endpoint address="ChinesseCheckersServer" binding="netTcpBinding" contract="ChinesseCheckersServer.IGameplayMgt" />
	   <endpoint address="ChinesseCheckersServer" binding="netTcpBinding" contract="ChinesseCheckersServer.IRelationshipMgt" />
    <host>
     <baseAddresses>
      <add baseAddress="http://192.168.35.191:8080"/>
      <add baseAddress="net.tcp://192.168.35.191:8081"/>
     </baseAddresses>
    </host>
   </service>
  </services>
		<bindings>
			<netTcpBinding>
				<binding >
					<security mode="None">
						<message clientCredentialType="None"/>
						<transport protectionLevel="None"></transport>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>